@use '_colors' as *;
@use 'components';
@use 'mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

//NAV
.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	background-image: $blue-gradient-solid;
	z-index: 100;
	backdrop-filter: blur(4px);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		color: $pure-white;
		margin: 0.8em 0;
		padding: 0.5em 1em;
		font-size: 2.8em;
		text-decoration: none;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			background-color: $pure-white;
			transition: transform 0.3s;
			content: '';
		}
		&:hover::before {
			transform: scaleY(1);
		}
	}
}
@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}
.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
	&:focus {
		outline: none;
		border: 1px solid rgb(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		@include mixins.burgerBtn;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.06s;
		}
	}
}

//===================================================
//header
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: $pure-white;
	@include mixins.heroImages('../img/meat-5667327_640.jpg');
	background-attachment: scroll;
	&__heading {
		font-size: 4.8rem;
		font-weight: 300;
		text-transform: uppercase;
	}
	&__text {
		font-size: 1.4rem;
	}
	&__btn {
		margin-top: 5em;
		padding: 0.8em 1.6em;
		background: $pure-white;
		border: none;
		border-radius: 8px;
		color: $dark;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		&::before {
			background-color: $light-white;
		}
	}
}
//MAIN==============================================
.dreams {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img {
		width: 100%;
		margin-bottom: 1em;
	}
	&__tittle {
		margin-bottom: 0.5em;
	}
	&__text {
		font-size: 1.4rem;
	}
}

.hero-img{
	position: relative;
	padding: 10em 2em;
	@include mixins.heroImages('../img/smoked-meat-769623_640.jpg');
	text-align: center;
	color: $pure-white;
	overflow: hidden;

	&__title{
		margin-bottom: 0.5em;
		font-size: 4.8em;
	}
	&__text{
		padding: 1em 0;
		text-transform: uppercase;
	}
}

//==================================================
//                        MEDIA
//==================================================

@media (min-width: 576px) {
	.dreams {
		&__box {

			flex-direction: row;
			justify-content: space-between;
		

			&-text {
				width: 55%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0px 40px;
				
					text-align: justify;
				
			}
			&-img {
				width: 40%;
				&--right {
					order: 1;
				}
			}
		}
		&__img {
			margin-bottom: 0;
			max-width: 400px;
			max-height: 300px;
			background-size: cover;
		}
		&__title {
			padding-bottom: 2em;
			font-weight: bold;
			text-align: center;
		}
	}
}

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}
	.header {
		&__heading {
			font-size: 6.6rem;
		}
		&__text {
			font-size: 1rem;
		}
		&__btn {
			font-size: 1.6rem;
		}
		background-image: $red-gradient, url(../img/meat-5667327_1920.jpg);
	}
	.dreams {
		&__title {
			padding-bottom: 1em;

			font-weight: bold;
			text-align: center;
		}
		&__text {
			font-size: 1.8rem;
		}
	}
	.hero-img{
		padding: 25rem 2em;
		background-image: $red-gradient, url('../img/smoked-meat-769623_1920.jpg');
		hr{
			margin: 0 auto;
			width: 70%;
		}
		&__title{
			font-size: 5.0em;
		}
		&_text{
			font-size: 2.2rem;
		}
	}
}
@media (min-width: 992px) {
	.burger-btn {
		top: 50px;
		right: 50px;
	}
	// .nav{
	// 	&__item{
	// 		font-size: 4.8rem;
	// 	}
	// }
	.dreams {
		&__box {
			margin: 5em 0;
			&-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				// margin-bottom: 2.5em;
			}
		}
		&__title {
			font-size: 3.6rem;
			padding-bottom: 1em;

			font-weight: bold;
			text-align: center;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.hero-img{
		padding: 30rem 2em;
		&__title{
			font-size: 6.2em;
		}
		hr{
			width: 60%;
			max-width: 900px;
		}
	}
}
